.container-fluid.add-quote
  .row-fluid
    .featurette
      .span6
        %h2.featurette-heading Make someone's day.
        %h3 No really, say something nice. We all need a boost sometimes
      .span6
        = image_tag 'word_cloud.png'
      
  