.home {
  .hero-unit {
   background-color: rgb(174, 235, 174);
    .review {
      margin-top: 50px;
      text-align: center;
      font-size: 40px;
      
      .icon-thumbs-up:hover {
        cursor: pointer;
        color: gray;
      }
      
      .icon-thumbs-down:hover {
        cursor: pointer;
        color: gray;
      }
    }
  }
  
  .add {
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
}