.home {
  .flattery.hero-unit {background-color: rgba(174, 223, 235, 0.6);}
  .insult.hero-unit {background-color: rgba(107, 253, 107, 0.6);}
  .flatinsult.hero-unit {background-color: rgba(235, 174, 215, 0.6);}
  .hero-unit {
    .review {
      margin-top: 50px;
      text-align: center;
      font-size: 40px;
      
      .icon-thumbs-up:hover {
        cursor: pointer;
        color: gray;
      }
      
      .icon-thumbs-down:hover {
        cursor: pointer;
        color: gray;
      }
    }
  }
  
  .add {
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
  }
}