.home {
  height: 100%;
  word-wrap: break-word;
  .flattery.hero-unit {background-color: rgba(174, 223, 235, 0.6);}
  .insult.hero-unit {background-color: rgba(107, 253, 107, 0.6);}
  .flatinsult.hero-unit {background-color: rgba(235, 174, 215, 0.6);}
  .hero-unit {
    padding: 5%;
    .review {
      margin-top: 50px;
      text-align: center;
      font-size: 40px;
      
      .icon-thumbs-up:hover {
        cursor: pointer;
        color: #C1DCF1;
      }
      
      .icon-thumbs-down:hover {
        cursor: pointer;
        color: #C1DCF1;
      }
    }
  }
  
  .add {
    font-size: 35px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
  }
}