= javascript_include_tag 'quotes'
.container.home
  .hero-unit
    - if @sample
      %h1 #{@sample.description}
    - else
      %h1 :( Nothing to say.
    .review
      %i.icon-thumbs-up
      %i.icon-thumbs-down
  .row-fluid
    .span12
      .add
        = link_to new_quote_url(source: @sample.try(:source)) do
          %i.icon-plus
            Add your own
  %hr