- content_for(:head) do
  = auto_discovery_link_tag(:atom, root_url(format: "atom"))

.container-fluid.home
  .row-fluid
    .et-wrapper
      = render partial: 'page', locals: {sample: @sample.first, number: "1"}
      = render partial: 'page', locals: {sample: @sample.last, number: "2"}
   

    