- content_for(:head) do
  = javascript_include_tag 'index'
  = javascript_include_tag 'profil/elementTransitions'

.container-fluid.home
  .row-fluid
    .et-wrapper
      = render partial: 'page', locals: {sample: @sample.first, number: "1"}
      = render partial: 'page', locals: {sample: @sample.last, number: "2"}
   

    