.site-navigation {
  #fb-root {
    display: inline;
  }
  .banner {
    font-size: 30px;
    margin-bottom: 5px;
    text-align: right;
  }
  .nav {
    width: 100%;
    
    li {
      width: 25%;
      text-align: center;
    }
  }
}