.site-navigation {
  #fb-root {
    display: inline;
  }
  .logo {
    background-image:url("quotel.png");
    background-size: 40px 40px;
    background-repeat: no-repeat;
  }
  .banner {
    font-size: 30px;
    margin-bottom: 5px;
    text-align: right;
  }
  .nav {
    width: 100%;
    
    li {
      width: 25%;
      text-align: center;
    }
  }
}