.site-navigation
  .row-fluid.banner
    .span11
      .twshare{:style => 'margin-right: -50px;'}
        %a.twitter-share-button.left{"data-count" => "horizontal", "data-via" => "fuonrails", :href => "http://twitter.com/share"} Tweet
        %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
    .span1
      .fshare{:style => 'padding-left: 0px; margin-left: -5px;'}
        %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
        %fb:like{:layout => "button_count", :show_faces => "false", :width => "450"}
      .CLR 
  .navbar
    %nav.navbar-inner
      %ul.nav.navbar
        %li.flattery
          = link_to "Flattery", root_url(source: Quote::FLATTERY)
        %li.insult
          = link_to "Insult", root_url(source: Quote::INSULT)
        %li.flatinsult
          = link_to "FlatInsult", root_url(source: Quote::FLATINSULT)
        %li.about
          = link_to "All the things", view_all_quotes_path
  
  
